.Rproj.user
.Rhistory
.RData
.Ruserdata
extract_christoph.Rda
mp_characteristics.dta
vote_characteristics.dta
voting_behavior.dta
bip_kopf.csv
bip_kopf_de.csv
parlament_in_r.Rproj
oup-accepted-manuscript-2017.pdf
