.Rproj.user
.Rhistory
.RData
.Ruserdata
extract_christoph.Rda
mp_characteristics.dta
vote_characteristics.dta
voting_behavior.dta
bip_kopf.csv
bip_kopf_de.csv
parlament_in_r.Rproj
oup-accepted-manuscript-2017.pdf
Sylabus/Winter_20202_Seminarplan_Parlamente.docx
Sylabus/Winter_20202_Seminarplan_Parlamente.pdf
Sylabus/~$nter_20202_Seminarplan_Parlamente-online.docx
6_Abgabe/S23/Problem Set 1/Dataset1.txt
6_Abgabe/S23/Problem Set 1/Problem Set 1 Maurice Dalton.Rmd
6_Abgabe/S23/Problem Set 1/Problem Set 1.docx
6_Abgabe/S23/Problem Set 1/Problem Set 2 (1).docx
6_Abgabe/S23/Problem Set 1/Problem Set 2.docx
6_Abgabe/S23/Problem Set 1/Problem-Set-1.pdf
6_Abgabe/S23/Problem Set 1/Problem_Set_2.Rmd
6_Abgabe/S23/Problem Set 1/ProblemSet1.zip
6_Abgabe/S23/Problem Set 1/ProblemSet1_PhilippDettmer.docx
6_Abgabe/S23/Problem Set 1/ProblemSet2.docx
6_Abgabe/S23/Problem Set 1/Problemset_2_Birner.docx
